@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4a9a99;
    font-family: 'Codystar', cursive;
    font-size: 18px;
}

.container {
    color: rgb(102, 255, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border: solid black 1px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
    border-radius: 25px;
    height: 60vh;
    
}

@media (max-width: 800px) {
.container {
    height: 85vh;
    margin-top: 0;
}

h1 {
    font-size: 1.5rem ;
}

h2 {
    font-size: 1.5rem ;
}

.columna2 div {
    margin-bottom: 0;
}

}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin-block-start: 0;
    padding-inline-start: 0;
}

input {
    width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.caja {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna {
    display: flex;
    flex-direction: column;
    width: 28%;
}

.columna_bottom {
    margin-top: auto;
}

button {
    border-radius: 5px;
    padding: 0.25em;
    font-size: 18px;
    font-family: 'Codystar', cursive;
    color: rgb(102, 255, 0);
    font-weight: bold;
    background-color: black;
    border: 0;
}

button:hover {
    color: chocolate;
    border-color: chocolate;
}

.handcash_button {
    border: solid 1px rgb(102, 255, 0);
}

.handcash_button:hover {
    color: chocolate;
    border-color: chocolate;
}

input {
    background-color: black;
    font-family: 'Codystar', cursive;
    color: rgb(102, 255, 0);
    font-size: 18px;
}

input:hover {
    color: chocolate;
    
}